<header id="cabecera1">
    <app-cabecera></app-cabecera>
</header>
  
<div class="contenido">

    <img src="../../../assets/esime.jpg">
    <!-- Información -->
    <div id="informacion">
        <h2>Sobre mí</h2>
        <ul>
            <li>Nací el 13 de diciembre de 1999</li>
            <li>22 años</li>
            <li>Estudié en el Instituto Politécnico Nacional ESIME Culhuacán</li>
            <li>Me gustan los gatos</li>
            <li>Me gusta tocar el piano</li>
        </ul>
            
    </div>
</div>

<div class="contenedor">
    <h2>¿Qué te gustaría saber sobre mí?</h2>
    <select [(ngModel)] ="select">
        <option value="Vida Personal">Vida Personal</option>
        <option value="Gustos Personales">Lenguajes de programación</option>
        <option value="Vida laboral">Vida laboral</option>
        <option value="Proyectos propios">Proyectos propios</option>
        
    </select>

    <h2>Esta seleccionado : {{select}}</h2>
</div>

  
<footer>
<app-footer></app-footer>
</footer>