<header id="cabecera1">
    <app-cabecera></app-cabecera>
</header>
  
<div class="contenido">

    <img src="../../../assets/esime.jpg">
    <!-- Información -->
    <div id="informacion">
        <h2>Sobre mí</h2>
        <ul>
            <li>Nací el 13 de diciembre de 1999</li>
            <li>22 años</li>
            <li>Estudié en el Instituto Politécnico Nacional ESIME Culhuacán</li>
            <li>Me gustan los gatos</li>
            <li>Me gusta tocar el piano</li>
        </ul>
            
    </div>
</div>
  
<footer>
<app-footer></app-footer>
</footer>