.footer{
    margin: 30px;
    text-align: center;
    width: 150px;
    padding: 10px;
    background-color: rgb(158, 155, 155);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}