<header id="cabecera1">
    <app-cabecera></app-cabecera>
</header>

<div class="formulario">
    <h2>Contáctame!</h2>
    <form [formGroup] = "formulario" (ngSubmit)="onsubmit()">
        <label for="nombre">Nombre</label><br>
        <input type="text" id="name" formControlName="nombre"><br>

        <label for="apellido">Apellido</label><br>
        <input type="text" id="apellido" formControlName="apellido"><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" formControlName="email"><br>

        <label for="coments">Comentarios</label><br>
        <textarea formControlName="comentario"></textarea><br>

        <input type="submit" value="Enviar">
      </form>

</div>

<div class="contenido">

</div>
  
<footer>
<app-footer></app-footer>
</footer>