.contenido {
    margin: 0px auto;
    margin-top: 30px;
    width: 80%;
    min-height: 500px;
    background-color: #1b3853;
    border-radius: 15px;
}

.contenido img {
    margin: 25px;
    width: 400px;
}

#informacion {
    float: right;
    width: 52%;
    margin: 25px;
}

#informacion p {
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 20px;
    margin-bottom: 40px;
}

#informacion a {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: #A2D2FF;
    color: black;
    text-decoration: none;
    padding: 13px;
    border-radius: 5px;
}
